<div id="main">
  <h2 class="form--title">Delivery address</h2>

  <%= form_tag(addressPOST_path, class: 'form_new_model') do %>

    <div class="input">
      <label for="name" class='input-group__label'>Last name</label>
      <%= text_field_tag(:name, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="Firstname" class='input-group__label'>First name</label>
      <%= text_field_tag(:Firstname, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="email" class='input-group__label'>Email</label>
      <%= text_field_tag(:email, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="street" class='input-group__label'>Street</label>
      <%= text_field_tag(:street, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="postalCode" class='input-group__label'>Postal code</label>
      <%= text_field_tag(:postalCode, nil, class: 'input__text')%>
    </div>

    <div class="input__submit">
      <%= button_tag('Next', class:"cart_nextBtn hidden")%>
    </div>

  <% end %>
  <div id="errorMsg" class="hidden">
    <div id="errorBox">
    </div>
  </div>

  <div class="input__submit input__submit--nomargin">
    <%= form_tag(addressAJAX_path, method: :get, remote: true) do %>
      <%= button_tag('address', class: "cart_nextBtn cart_nextBtn--address") do %>
        <div>Next</div>
      <% end %>

    <% end %>
  </div>
</div>

<!--create a button which sends ajax and hide "real" ruby button which goes to the next page if requirement okay-->
