<div id="main">
  <h2 class="form--title">Delivery address</h2>

  <%= form_for(@address, html: { class: 'form_new_model' }, :url => '/') do |form| %>

    <div class="input">
      <%= form.label(:name, "Last name", class: 'input-group__label') %>
      <%= form.text_field(:name, class: 'input__text')%>
    </div>

    <div class="input">
      <%= form.label(:Firstname, "First name", class: 'input-group__label') %>
      <%= form.text_field(:Firstname, class: 'input__text')%>
    </div>

    <div class="input">
      <%= form.label(:email, class: 'input-group__label') %>
      <%= form.text_field(:email, class: 'input__text')%>
    </div>

    <div class="input">
      <%= form.label(:street, class: 'input-group__label') %>
      <%= form.text_field(:street, class: 'input__text')%>
    </div>

    <div class="input">
      <%= form.label(:postalCode, class: 'input-group__label') %>
      <%= form.text_field(:postalCode, class: 'input__text')%>
    </div>

    <div class="input__submit">
      <%= form.submit('Next', class:"cart_nextBtn hidden")%>
    </div>

  <% end %>

  <div class="input__submit input__submit--nomargin">
    <%= form_tag(addressAJAX_path, method: :get, remote: true) do %>
      <%= button_tag('address', class: "cart_nextBtn cart_nextBtn--address") do %>
        <div>Next</div>
      <% end %>

    <% end %>
  </div>
</div>

<!--create a button which sends ajax and hide "real" ruby button which goes to the next page if requirement okay-->
