<div id="main">
  <div class="main-title">
    <h2><%= link_to "THRIFT", root_path%></h2>
    <em class="main-title__desc">Magasin d'habits de seconde-main eco-friendly.</em>
  </div>

  <div class="main-title">
    <%= render(partial: 'mobile-header')%>
  </div>

  <h2 id="address_title" class="form--title">Informations de livraison</h2>
  <div class="address_warning">
    <em>Livraisons uniquement en Suisse.</em>
  </div>

  <%= form_tag(address_path, class: 'form_new_model') do %>

    <div class="input">
      <label for="name" class='input-group__label'>Nom</label>
      <%= text_field_tag(:name, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="Firstname" class='input-group__label'>Prénom</label>
      <%= text_field_tag(:Firstname, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="email" class='input-group__label'>Email</label>
      <%= text_field_tag(:email, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="street" class='input-group__label'>Rue & numéro</label>
      <%= text_field_tag(:street, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="postalCode" class='input-group__label'>Code postal</label>
      <%= text_field_tag(:postalCode, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="city" class='input-group__label'>Ville / village</label>
      <%= text_field_tag(:city, nil, class: 'input__text')%>
    </div>
  <% end %>

  <%= link_to payment_path do %>
    <%= button_tag('Next', class:"cart_nextBtn hidden", id: "nextBtnReal")%>
  <% end %>

  <div id="errorMsg" class="hidden">
    <div id="errorBox">
    </div>
  </div>

  <div class="input__submit input__submit--nomargin">
    <%= form_tag(addressAJAX_path, method: :get, remote: true) do %>
      <%= button_tag('address', class: "cart_nextBtn cart_nextBtn--address") do %>
        <div>Suivant</div>
      <% end %>

    <% end %>
  </div>
</div>
<script type="text/javascript">
  user = localStorage.getItem('user');
  user=JSON.parse(user);
  if (user.length > 0){
    document.getElementById('name').value = user[0];
    document.getElementById('Firstname').value = user[1];
    document.getElementById('email').value = user[2];
    document.getElementById('street').value = user[3];
    document.getElementById('postalCode').value = user[4];
    document.getElementById('city').value = user[5];
  }
</script>
