<div id="main">
  <h2 id="address_title" class="form--title">Delivery address</h2>

  <%= form_tag(address_path, class: 'form_new_model') do %>

    <div class="input">
      <label for="name" class='input-group__label'>Last name</label>
      <%= text_field_tag(:name, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="Firstname" class='input-group__label'>First name</label>
      <%= text_field_tag(:Firstname, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="email" class='input-group__label'>Email</label>
      <%= text_field_tag(:email, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="street" class='input-group__label'>Street</label>
      <%= text_field_tag(:street, nil, class: 'input__text')%>
    </div>

    <div class="input">
      <label for="postalCode" class='input-group__label'>Postal code</label>
      <%= text_field_tag(:postalCode, nil, class: 'input__text')%>
    </div>
  <% end %>

  <%= link_to payment_path do %>
    <%= button_tag('Next', class:"cart_nextBtn hidden", id: "nextBtnReal")%>
  <% end %>

  <div id="errorMsg" class="hidden">
    <div id="errorBox">
    </div>
  </div>

  <div class="input__submit input__submit--nomargin">
    <%= form_tag(addressAJAX_path, method: :get, remote: true) do %>
      <%= button_tag('address', class: "cart_nextBtn cart_nextBtn--address") do %>
        <div>Next</div>
      <% end %>

    <% end %>
  </div>
</div>

<script type="text/javascript">
  user = localStorage.getItem('user');
  user=JSON.parse(user);
  console.log(user);
  if (user.length > 0){
    document.getElementById('name').value = user[0];
    document.getElementById('Firstname').value = user[1];
    document.getElementById('email').value = user[2];
    document.getElementById('street').value = user[3];
    document.getElementById('postalCode').value = user[4];
  }
</script>
