<div class="main-title">
  <h2><%= link_to "THRIFT", root_path%></h2>
  <em class="main-title__desc">Magasin d'habits de seconde-main eco-friendly.</em>
</div>
<div class="main-title">
  <%= render(partial: 'mobile-header')%>
</div>
<div class="center">
 <div class="payment__wrapper">
    <h4 class="payment__title">Votre commande:</h4>
    <div id="payment__order">
      <div id="all_cart" class="payment__block">
        <% @items.each do |item|%>
         <div id="<%=item.id%>">
           <div>
           -----------------------------------
           </div>
           <div class="payment__item">
             <div>
               <%= item.title %>
             </div>
             <div>
               <%= item.price %> CHF
             </div>
           </div>
         </div>
        <% end %>
      </div>


    </div>
    <h4 class="payment__title--livraison">
      Informations de livraison:
    </h4>
    <div id="payment__customer">
    </div>
    <h4 class="payment__title">Paiement:</h4>
    <div class="payment__twint">
      ***TWINT PAYMENT***
    </div>
    <div class="payment__next">
      <a href="/cart/confirmation">
        <btn name="next" class="cart_nextBtn confirmation">Confirmer l'achat</btn>
      </a>
    </div>

  </div>
</div>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript">
  function sendEmail() {
    Email.send({
      Host: "smtp.gmail.com",
      Username : "andre.d3003@gmail.com",
      Password : "<email password>",
      To : '<recipient’s email address>',
      From : "<sender’s email address>",
      Subject : "<email subject>",
      Body : "<email body>",
    })
    .then(function(message){
      alert("mail sent successfully")
    });
  }

  cart=[];
  cart = localStorage.getItem('cart');
  cart=JSON.parse(cart);

  items = document.getElementById("all_cart").children;

  price = 0;


  for(let i=0; i< items.length; i++){
    price = price + Number(items[i].lastElementChild.lastElementChild.innerText.replace(/\s/g,'').slice(0, -3))
    if(cart.indexOf(items[i].id)<0){
      items[i].className="hidden";
      price = price - Number(items[i].lastElementChild.lastElementChild.innerText.replace(/\s/g,'').slice(0, -3))
    } else{

    }
  }

  total = document.createElement("div");
  total.className="payment__item";

  separator = document.createElement("hr");


  totalText = document.createElement("div");
  totalTextText = document.createTextNode("Total");
  totalText.appendChild(totalTextText);

  totalPrice = document.createElement("div");
  totalPricePrice = document.createTextNode(price+" CHF");
  totalPrice.appendChild(totalPricePrice);

  total.appendChild(totalText);
  total.appendChild(totalPrice);

  itemsParent = document.getElementById("all_cart");
  itemsParent.appendChild(separator);
  itemsParent.appendChild(total);





  user = localStorage.getItem('user');
  user = JSON.parse(user);
  customer= document.getElementById('payment__customer');

  customer_list = document.createElement("div");
  customer_list.className = "payment__block"

  for (i = 0 ; i <= user.length - 1; i++) {
    var z = document.createElement("div");
    z.className="payment__item customer"
    info = document.createTextNode(user[i]);
    z.appendChild(info);

    customer_list.appendChild(z);
  }
  customer.appendChild(customer_list);
</script>
