
<div class=email-image>
 <%=image_tag attachments.inline['logo.jpeg'].url %>
</div>

<h2 class="email-title">Merci pour ta commande Thriftshop!</h2>



<div class="email-text">
  Nous avons bien reçu ta commande, elle te sera déliverée à
  l'adresse indiquée dans les 5 jours.

  Merci pour ton soutien, à bientôt !
</div>

<div class="email_payment">
  Dès réception du montant sur le compte bancaire suivant, la livraison sera effectuée.<br />

  <div class="email_payment--bank">
    <br />
    Montant total: <%= @order.total %> CHF <br/>
    MAS BEAUCLERCQ MAEVANE<br/>
    IBAN: CH5500767000E52204350<br/>
    BIC/SWIFT: BCVLCH2LXXX<br/>
    Banque: Banque Cantonale Vaudoise<br />
    <br />
</div>

<em>Note: si le paiement n'est pas effectué dans les 5 jours, nous nous réservons le droit de remettre en vente les articles achetés.</em>

<div class="email-order">
  Résumé de la commande:
  <div class="email-title__number">Numéro de commande: <%= @order.id %></div>
  <div class="email-order__cart">
    <% $i = 0 %>
    <% for i in JSON.parse(@order.purchase) %>
       <% i = Integer(i) %>
       <div class="email-order__item"><%= @items.find(i).title %> // <%= @items.find(i).price %> CHF // Numéro de référence: <%= @items.find(i).id %></div>
    <% end %>
  </div>
  <div class="email-order__user">
    <div class="email-order__info"><%= @order.name %></div>
    <div class="email-order__info"><%= @order.firstname %></div>
    <div class="email-order__info"><%= @order.email %></div>
    <div class="email-order__info"><%= @order.street %></div>
    <div class="email-order__info"><%= @order.postalCode %></div>
    <div class="email-order__info"><%= @order.city %></div>
  </div>


</div>

<div class="email-bottom">
  <div class="email-contact">
    <div class="email-contact__item">Retrouve-nous sur :</div>
    <div class="email-contact__item">Website - www.thriftshop.ch</div>
    <div class="email-contact__item">Instagram - @thriftshop__ch</div>
  </div>
</div>
