<div class="all_cart cart_hide">
  <div class="cart_row">
    <div class="hidden">
      <%= item.id %>
    </div>
    <%= link_to(item_path(item)) do %>
      <%= render(partial: 'item_photo',
                 locals: {photo_url: photo_url}) %>
    <% end %>

    <h4 class="card__title">
      <%= card_title %>// <span class="card__price"><%= price %> CHF</span>
    </h4>

    <%= render(partial: 'remove',
               locals: {item: item}) %>
  </div>
  <hr class="cart_hr">
</div>
