<div class="show">
  <div class="card--show">
    <div class="card--show__desc">
      <div>
        <%= item.description%>
      </div>
    </div>
    <div class="card--show__card">
      <%= link_to(item_path(item)) do %>
        <%= render(partial: 'item_photo',
                   locals: {photo_url: photo_url}) %>
        <div class="card__intro">
          <h4 class="card__title"><%= card_title %> // <span class="card__price"><%= price %> CHF</span></h4>
        </div>
        <% end %>
        <%= render(partial: "add",
                   locals: {item: item}) %>
      </div>
  </div>
</div>
