<div class="show">
  <div class="main-title">
    <h2><%= link_to "THRIFT", root_path%></h2>
    <em class="main-title__desc">Magasin d'habits de seconde-main eco-friendly.</em>
  </div>
  <div class="main-title">
    <%= render(partial: 'mobile-header')%>
  </div>
  <div class="card--show">

    <div class="card--show__card">
      <%= link_to(item_path(item)) do %>
        <%= render(partial: 'item_photo',
                   locals: {photo_url: photo_url}) %>
        <div class="card__intro">
          <h4 class="card__title"><%= card_title %> // <span class="card__price"><%= price %> CHF</span></h4>
        </div>
        <% end %>
        <div class="card--show__desc">
          <div>
            <%= item.description%>
          </div>
        </div>
        <%= render(partial: "add",
                   locals: {item: item}) %>
      </div>
      <%= render(partial: "cart-link") %>
  </div>
  <div class="card--show__link">
    <%= link_to "Retour", items_path %>
  </div>
</div>
