<div class="card">
  <%= link_to(item_path(item)) do %>
    <%= render(partial: 'item_photo',
               locals: {photo_url: photo_url}) %>
  <% end %>
  <div class="card__intro">
    <%= link_to(item_path(item)) do %>
      <h4 class="card__title"><%= card_title %> // <span class="card__price"><%= price %> CHF</span></h4>
    <% end %>
    <%= render(partial: "add",
               locals: {item: item}) %>
  </div>
  <%= render(partial: "cart-link") %>
</div>
