<div class="show">
  <div class="main-title">
    <h2><%= link_to "THRIFT", root_path%></h2>
    <em class="main-title__desc">Magasin d'habits de seconde-main eco-friendly.</em>
  </div>
  <div class="main-title">
    <%= render(partial: 'mobile-header')%>
  </div>
  <div class="card--show">

    <div class="card--show__card">
      <%= link_to(item_path(item)) do %>
        <div class="slidingImg">
          <%= render(partial: 'item_photo',
                     locals: {photo_url: photo_url}) %>
        </div>
        <div class="slidingImg">
          <%= render(partial: 'item_photo',
                     locals: {photo_url: "unavailable.jpg"}) %>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>


        <div class="card__intro">
          <h4 class="card__title"><%= card_title %> // <span class="card__price"><%= price %> CHF</span></h4>
        </div>
        <% end %>
        <%= render(partial: "add",
                   locals: {item: item}) %>
      </div>
      <%= render(partial: "cart-link") %>
  </div>
  <div class="card--show__link">
    <%= link_to "Retour", items_path %>
  </div>
</div>

<%= javascript_tag do %>

  //carousel display
  console.log("STARTING THE SCRIPT");
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    console.log(slideIndex);
    console.log("In showDivs");
    var i;
    var x = document.getElementsByClassName("slidingImg");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
  }
<% end %>
