<div class="show">
  <div class="main-title">
    <h2><%= link_to "THRIFT", root_path%></h2>
    <em class="main-title__desc">Magasin d'habits de seconde-main eco-friendly.</em>
  </div>
  <div class="main-title">
    <%= render(partial: 'mobile-header')%>
  </div>
  <div class="card--show">

    <div class="card--show__card">
      <%= link_to(item_path(item)) do %>
        <div class="slidingImg">
          <%= render(partial: 'item_photo',
                     locals: {photo_url: photo_url}) %>
        </div>
        <div class="slidingImg">
          <%= render(partial: 'item_photo',
                     locals: {photo_url: "unavailable.jpg"}) %>
        </div>
        <div class="slidingImg">
          <%= render(partial: 'item_photo',
                     locals: {photo_url: "hoodie1.jpg"}) %>
        </div>
    <% end %>

        <button onclick="previousItem()">
          &#10094;
        </button>
        <%= button_to item_path(item), id: "buttonNextImg", method: :delete, remote: true do %>
          &#10095;
        <% end %>

        <div class="card__intro">
          <h4 class="card__title"><%= card_title %> // <span class="card__price"><%= price %> CHF</span></h4>
        </div>

        <%= render(partial: "add",
                   locals: {item: item}) %>
      </div>
      <%= render(partial: "cart-link") %>
  </div>
  <div class="card--show__link">
    <%= link_to "Retour", items_path %>
  </div>
</div>

<%= javascript_tag do %>
  //console.log("INITIAL JS PART")
  var slideIndex = 1;

  //console.log(slideIndex);

  var i;
  var x = document.getElementsByClassName("slidingImg");

  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";

  //console.log("END OF THE INITIAL JS")

  //onclick does slideindex -2 and then clicks on the next button

  function previousItem() {
    //console.log("IN PREVIOUS ITEM")
    slideIndex = slideIndex -2;
    document.getElementById("buttonNextImg").click();
  }
<% end %>
