<!DOCTYPE html>
<html>
  <head>
    <title>Thriftshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto+Mono&display=swap" rel="stylesheet">
  </head>

  <body>
    <svg class="hidden" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <symbol id="pluss" viewBox="0 0 24 24" aria-labeledby="title">
        <title>Add</title>
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
      </symbol>
      <symbol id="done" viewBox="0 0 24 24" aria-labeledby="title">
        <title>Done</title>
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
      </symbol>
    </svg>
    <%= render partial: 'header' %>

      <%= yield %>

    <%= render partial: 'footer' %>
  </body>
</html>
